{% extends "base.html.twig" %}

{% block title %}Insult Stats{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
    <div id="container"></div>
    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'bar',
                height: 500
            },
            title: {
                text: 'Insult Usage'
            },
            xAxis: {
                categories: {{ categoryJson|raw }},
            },
            tooltip: {
                enabled: false
            },
            yAxis: {
                min: 0,
                max: 1,
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "Global Usage",
                data: {{ valuesJson|raw }}
            }]
        });
    </script>

{% endblock %}